<div class="footer-strip">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer">
          <h5 class="footer-title">Passion should meet your professional life, and I'm a living, breathing testament to that.</h5>
          <ul class="footer-menu">
            <li><a href="{{site.baseurl}}/">Home</a></li>
            <li><a href="{{site.baseurl}}/contact">Contact</a></li>
            <li class="copyright">© {{site.title}} {{site.time | date:'%Y'}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>